<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright 2022 OpenSynergy Indonesia
     Copyright 2022 PT. Simetri Sinergi Indonesia
     License LGPL-3.0 or later (http://www.gnu.org/licenses/lgpl). -->
<odoo>
  <menuitem
        id="menu_configuration_invoice_settlement"
        name="Invoice Settlement"
        sequence="13"
        parent="ssi_voucher_mixin.menu_account_configuration_voucher"
    />
</odoo>
