<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright 2020 OpenSynergy Indonesia
     Copyright 2020 PT. Simetri Sinergi Indonesia
     License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl). -->
<openerp>
    <data>

      <menuitem
            id="menu_configuration_giro_receipt"
            name="Giro Receipt"
            sequence="7"
            parent="account_voucher_common.menu_account_configuration_voucher"
        />

      <menuitem
            id="menu_configuration_giro_payment"
            name="Giro Payment"
            sequence="8"
            parent="account_voucher_common.menu_account_configuration_voucher"
        />

    </data>
</openerp>
