<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright 2022 OpenSynergy Indonesia
     Copyright 2022 PT. Simetri Sinergi Indonesia
     License LGPL-3.0 or later (http://www.gnu.org/licenses/lgpl-3.0-standalone.html). -->
<odoo>
      <menuitem
        id="menu_configuration_sale_advance_settlement"
        name="Sale Advance Settlement"
        sequence="110"
        parent="ssi_financial_accounting.menu_financial_accounting_configuration"
    />

      <menuitem
        id="menu_configuration_purchase_advance_settlement"
        name="Purchase Advance Settlement"
        sequence="111"
        parent="ssi_financial_accounting.menu_financial_accounting_configuration"
    />
</odoo>
