<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright 2020 OpenSynergy Indonesia
     Copyright 2020 PT. Simetri Sinergi Indonesia
     License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl). -->
<openerp>
    <data>

      <menuitem
            id="menu_configuration_sale_advance_settlement"
            name="Sale Advance Settlement"
            sequence="9"
            parent="account_voucher_common.menu_account_configuration_voucher"
        />

      <menuitem
            id="menu_configuration_purchase_advance_settlement"
            name="Purchase Advance Settlement"
            sequence="10"
            parent="account_voucher_common.menu_account_configuration_voucher"
        />
    </data>
</openerp>
