<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright 2022 OpenSynergy Indonesia
     Copyright 2022 PT. Simetri Sinergi Indonesia
     License LGPL-3.0 or later (http://www.gnu.org/licenses/lgpl). -->
<odoo>
    <menuitem
        id="menu_configuration_bank_receipt"
        name="Bank Receipt"
        sequence="101"
        parent="ssi_financial_accounting.menu_financial_accounting_configuration"
    />

    <menuitem
        id="menu_configuration_bank_payment"
        name="Bank Payment"
        sequence="102"
        parent="ssi_financial_accounting.menu_financial_accounting_configuration"
    />

    <menuitem
        id="menu_configuration_cash_receipt"
        name="Cash Receipt"
        sequence="103"
        parent="ssi_financial_accounting.menu_financial_accounting_configuration"
    />

    <menuitem
        id="menu_configuration_cash_payment"
        name="Cash Payment"
        sequence="104"
        parent="ssi_financial_accounting.menu_financial_accounting_configuration"
    />

    <menuitem
        id="account_bank_cash_menu"
        name="Bank &amp; Cash"
        parent="account.menu_finance"
        sequence="4"
    />
</odoo>
