<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright 2022 OpenSynergy Indonesia
     Copyright 2022 PT. Simetri Sinergi Indonesia
     License LGPL-3.0 or later (http://www.gnu.org/licenses/lgpl). -->
<odoo>
    <menuitem
        id="menu_configuration_giro_receipt"
        name="Giro Receipt"
        sequence="107"
        parent="ssi_financial_accounting.menu_financial_accounting_configuration"
    />

    <menuitem
        id="menu_configuration_giro_payment"
        name="Giro Payment"
        sequence="108"
        parent="ssi_financial_accounting.menu_financial_accounting_configuration"
    />
</odoo>
